<div class="col-lg-2 col-sm-2 col-md-2 col-xs-12 seo" id="menu-left">
  <div class="line seo"></div>
  <ul>
    <li class="head-page">
      <p class="title-link">SEO</p>
    </li>
    <a href="Seo-overview.html" id="Overview">
      <li>
        Overview
      </li>
    </a>

    <a href="Seo-Information.html" id="information">
      <li>
        Information
      </li>
    </a>

    <a href="javascript:void(0)" id="Diagnostic" class="active">
      <li>Diagnostic<span class="glyphicon glyphicon-menu-down glyphicon-menu-up"></span></li>
    </a>
    <li class="submenu-left dropdown-Diagnostic" style="display: block;">
      <ul class="sub-menu">
        <li><a href="Seo-Diagnostic-Warnings.html" class="active">Warnings</a></li>
        <li><a href="Seo-Diagnostic-Loadingtime.html">Loading time</a></li>
      </ul>
    </li>
    <a href="javascript:void(0)" id="keywords">
      <li>Keywords<span class="glyphicon glyphicon-menu-down"></span></li>
    </a>
    <li class="submenu-left dropdown-keywords">
      <ul class="sub-menu">
        <li><a href="Seo-Keywords-Opportunities.html">Opportunities</a></li>
        <li><a href="Seo-Keywords-Rank-Checker.html">Rank checker</a></li>
        <li><a href="Seo-Keywords-Optimized-Keywords.html">Optimized keywords</a></li>
        <li><a href="Seo-Keywords-Geolocalised-Mobile.html">Geolocalised rank</a></li>
      </ul>
    </li>
    <a href="javascript:void(0)" id="onsite">
      <li>Onsite<span class="glyphicon glyphicon-menu-down"></span></li>
    </a>
    <li class="submenu-left dropdown-onsite">
      <ul class="sub-menu">
        <li><a href="Seo-Onsite-ValidateLandingpage.html">Validate landing pages</a></li>
        <li><a href="Seo-Onsite-OptimizeLandingpage-All.html">Landing page optimization</a></li>
        <li><a href="Seo-Onsite-OptimizeNewpage.html">New page optimization</a></li>
        <li><a href="Seo-Onsite-Hotcontent.html">Hot content optimisation</a></li>
        <li><a href="Seo-Onsite-Inner-Linking-Overview.html"> Inner linking</a></li>
      </ul>
    </li>
    <!-- 8/3/2017 start-->
    <a href="javascript:void(0)" id="offsite">
      <li>Offsite<span class="glyphicon glyphicon-menu-down"></span></li>
    </a>
    <li class="submenu-left dropdown-offsite">
      <ul class="sub-menu">
        <li><a href="Seo-Offsite-Overview.html">Overview</a></li>
        <li><a href="Seo-Offsite-Details.html">Details</a></li>
        <li><a href="javascript:void(0)" id="offsite-optimization">Optimization</a></li>
        <li class="submenu-left dropdown-offsite-optimization" style="display: block;">
          <ul class="sub-menu">
            <li><a href="Seo-Offsite-Optimization-Detox.html">Detox</a></li>
            <li><a href="Seo-Offsite-Optimization-Linkbuilding.html">Link building</a></li>
            <li><a href="Seo-Offsite-Optimization-Blogsautomation.html">Blogs automation</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>

    <a href="javascript:void(0)" id="benchmark">
      <li>Benchmark<span class="glyphicon glyphicon-menu-down"></span></li>
    </a>
    <li class="submenu-left dropdown-benchmark">
      <ul class="sub-menu">
        <li><a href="Seo-Benchmark.html">Overview</a></li>
        <li><a href="Seo-Benchmark-Chart.html">Chart</a></li>
        <li><a href="Seo-Benchmark-Ranking.html">Ranking comparison</a></li>
        <li><a href="Seo-Benchmark-Instant.html">Instant benchmark</a></li>
      </ul>
    </li>
    <a href="javascript:void(0)" id="mobile-first">
      <li>Mobile First<span class="glyphicon glyphicon-menu-down"></span></li>
    </a>
    <li class="submenu-left dropdown-mobile-first">
      <ul class="sub-menu">
        <li><a href="Seo-Mobilefirst-Overview.html">Overview</a></li>
        <li><a href="javascript:void(0);">Warnings</a></li>
        <li><a href="javascript:void(0);">Loading time</a></li>
        <li><a href="javascript:void(0);">Geolocalised ranking</a></li>
        <li><a href="Seo-Mobilefirst-Displaysimulator.html">Display simulator</a></li>
      </ul>
    </li>
    <a href="javascript:void(0)" id="youtube">
      <li>Youtube opt.<span class="glyphicon glyphicon-menu-down glyphicon-menu-down"></span></li>
    </a>
    <li class="submenu-left dropdown-youtube">
      <ul class="sub-menu">
        <li><a href="Seo-Youtube-Overview.html">Overview</a></li>
        <li><a href="javascript:void(0)" id="youtube-diagnostic">Diagnostic</a></li>
        <li class="submenu-left dropdown-youtube-diagnostic" style="display: block;">
          <ul class="sub-menu">
            <li><a href="Seo-Youtube-Diagnostic-Warnings.html">Warnings</a></li>
          </ul>
        </li>
        <li><a href="javascript:void(0)" id="youtube-keyword">Keywords</a></li>
        <li class="submenu-left dropdown-youtube-keyword" style="display: block;">
          <ul class="sub-menu">
            <li><a href="Seo-Youtube-Keywords-Rank-Checker.html">Rank Checker</a></li>
          </ul>
        </li>
        <li><a href="javascript:void(0)" id="youtube-optimization">Optimization</a></li>
        <li class="submenu-left dropdown-youtube-optimization" style="display: block;">
          <ul class="sub-menu">
            <li><a href="Seo-Youtube-Optimize-Videos-Validation.html">Videos validation</a></li>
            <li><a href="Seo-Youtube-Optimize-Videos-Optimization.html">Videos optimization</a>
            </li>
            <li><a href="Seo-Youtube-Optimize-Videos-Creation.html">New videos ideas</a></li>
            <li><a href="Seo-Youtube-Optimize-NewVideos.html">New videos optimization</a></li>
          </ul>
        </li>
        <li><a href="Seo-Youtube-Benchmark.html">Benchmark</a></li>
      </ul>
    </li>
    <!--<a href="javascript:void(0)" id="geoloc">
                  <li>
                      Geoloc. business opt.<span class="glyphicon glyphicon-menu-down"></span>
                  </li>
              </a>
              <li class="submenu-left dropdown-geoloc">
                  <ul class="sub-menu">
                      <li><a href="Seo-Geoloc-Reporting.html">Reporting</a></li>
                      <li><a href="javascript:void(0)"  id="geoloc-diagnostic">Diagnostic</a></li>
                       <li class="submenu-left dropdown-geoloc-diagnostic" style="display: block;">
                          <ul class="sub-menu">
                              <li><a href="Seo-Geoloc-Diagnostic-Warnings.html" >Warnings</a></li>
                          </ul>
                      </li>
                     
                  </ul>
              </li>
          -->
    <a href="javascript:void(0)" id="google-bus">
      <li>Google My Business Opt.<span class="glyphicon glyphicon-menu-down"></span></li>
    </a>
    <li class="submenu-left dropdown-google-bus">
      <ul class="sub-menu">
        <li><a href="Seo-Google-Overview.html">Overview</a></li>
        <li><a href="javascript:void(0)" id="google-diagnostic">Diagnostic</a></li>
        <li class="submenu-left dropdown-google-diagnostic" style="display: block;">
          <ul class="sub-menu">
            <li><a href="Seo-Google-Warnings.html">Warnings</a></li>
          </ul>
        </li>
        <li><a href="Seo-Google-Locations-Detail.html">Locations details</a></li>
        <li><a href="Seo-Google-Unansweredreviews.html">Customer automation</a></li>
        <li><a href="Seo-Google-Reviewsentimentanalysis.html">Reviews sentiment analysis</a></li>
        <li><a href="Seo-Google-Detail.html"> Ranking </a></li>
      </ul>
    </li>
    <!-- 8/3/2017 end-->
    <a href="javascript:void(0)" id="piracy">
      <li>Content piracy<span class="glyphicon glyphicon-menu-down"></span></li>
    </a>
    <li class="submenu-left dropdown-piracy">
      <ul class="sub-menu">
        <li><a href="Seo-Piracy-Overview.html">Overview</a></li>
        <li><a href="Seo-Piracy-Contentduplication.html"> Details & actions </a></li>
      </ul>
    </li>
    <a href="Seo-Piracy-Seaabuse.html" id="Seaabuse">
      <li>
        SEA abuse
      </li>
    </a>
    <a href="Seo-toolbox.html" id="toolbox">
      <li>Toolbox<span class="glyphicon glyphicon-menu-down"></span></li>
    </a>
    <li class="submenu-left dropdown-toolbox">
      <ul class="sub-menu">
        <li><a href="javascript:void(0)" id="toolbox-text">Text</a></li>
        <li class="submenu-left dropdown-toolbox-text" style="display: block;">
          <ul class="sub-menu">
            <li><a href="Seo-Toolbox-Content.html">Content comparison</a></li>
            <li><a href="Seo-Toolbox-Export.html">Export content</a></li>
            <li><a href="Seo-Toolbox-Webpage.html">Webpage status</a></li>
          </ul>
        </li>
        <li><a href="javascript:void(0)" id="toolbox-keyword">Keyword</a></li>
        <li class="submenu-left dropdown-toolbox-keyword" style="display: block;">
          <ul class="sub-menu">
            <li><a href="Seo-Toolbox-Keyword.html">Keyword power</a></li>
            <li><a href="Seo-Toolbox-Ranked.html">Get ranked pages</a></li>
          </ul>
        </li>
        <li><a href="javascript:void(0)" id="toolbox-sitemap">Sitemap</a></li>
        <li class="submenu-left dropdown-toolbox-sitemap" style="display: block;">
          <ul class="sub-menu">
            <li><a href="Seo-Toolbox-Generate-Sitemap.html">Generate sitemap</a></li>
            <li><a href="Seo-Toolbox-Sitemap-urls.html">Sitemap URLs</a></li>
          </ul>
        </li>
        <li><a href="javascript:void(0)" id="toolbox-redirection">Redirection</a></li>
        <li class="submenu-left dropdown-toolbox-redirection" style="display: block;">
          <ul class="sub-menu">
            <li><a href="Seo-Toolbox-Redirection.html">Redirection simulator</a></li>
            <li class="active"><a href="Seo-Toolbox-301.html">301 redirection</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <a href="javascript:void(0)" id="staging">
      <li>Staging<span class="glyphicon glyphicon-menu-down"></span></li>
    </a>
    <li class="submenu-left dropdown-staging">
      <ul class="sub-menu">
        <li>
          <a href="Seo-Staging-Overview.html">Overview</a>
        </li>
        <li><a href="javascript:void(0)" id="sub-staging">Diagnostic</a></li>
        <li class="submenu-left dropdown-sub-staging" style="display: block;">
          <ul class="sub-menu">
            <li><a href="Seo-Staging-Diagnostic-Warnings.html">Warnings</a></li>
            <li><a href="Seo-Staging-Diagnostic-Loadingtime.html">Loading time</a></li>
          </ul>
        </li>
        <!-- <li><a href="Seo-Staging-301.html">301 redirections</a></li>-->
        <li><a href="Seo-Staging-Redirectmapmanager.html" class="active">Redirect map manager</a>
        </li>
      </ul>
    </li>
  </ul>
  <!-- New interface - Modifications 5 slide 2 end 8/3/2017-->
</div>
<!--end menu-left-->

<div class="col-lg-10 col-sm-10 col-md-10 col-xs-12 warning content-set-warn" id="content" style="padding: 0 30px;">
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 ">
        <div class="bg-line"></div>
        <div class="line-menu seo"></div>
      </div>
    </div>


    <div class="content-teb-seo" style="">
      <ul class="nav-tabs nav menu-tabs" id="mNavbar" style="">
        <li id="goWeb" class="active"><a href="#Global" class="js-scroll-trigger tabDetail">Global</a></li>
        <li id="fWeb" class=""><a href="#Website" class="tabDetail js-scroll-trigger">Website</a></li>
        <li id="mWeb" class=""><a href="#Mobile" class="">Mobile</a></li>
        <li id="lWeb" class=""><a href="#Load" class="">Load. time</a></li>
        <li id="aWeb" class=""><a href="#GAna" class="">G.Analytics</a></li>
        <li id="sWeb" class=""><a href="#Search" class="">Search Console</a></li>
        <li id="yWeb" class=""><a href="#Youtube" class="">Youtube</a></li>
        <li id="gmWeb" class=""><a href="#GMB" class="">GMB</a></li>
        <li id="loWeb" class=""><a href="#LOGS" class="">Logs</a></li>
      </ul>
    </div>

    <!-- website-->
		<!-- Youtube-->
    <div class="row boxID" id="Youtube">
      <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12" style="padding: 0">
        <div class="div" style="background: #fff;padding: 15px 0px;">
          <div style="padding: 00px 0 2px;" class="">
            <div class="row" style="">
              <div class="col-md-6">
                <h4>YOUTUBE PERFORMANCE
                  <a href="#" class="btn btn-circle btn-question" data-toggle="tooltip" data-placement="right" title="This chart shows the performance of your competitors in three dimensions (TrustFlow, Referring domains and Indexed webpages).">?</a>
                </h4>
              </div>

              <div class="col-md-6 text-right">
                <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle but-drop" type="button" data-toggle="dropdown" style="min-width: 155px;">
                    <span class="ladb">Number of warnings</span>&nbsp;

                    <span class="btn btn-default btn-circle" style="background: unset;border:2px solid #ECEEF2;position: absolute;     right: 6px;top: 6px;;position: absolute;     right: 6px;top: 6px;"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                  </button>
                  <ul class="dropdown-menu  dpmenu psdo">
                    <li class="dropdown-item"><a href="#" style="padding-left: 10px !important">Number of warnings</a></li>
                    <li class="dropdown-item"><a href="#" style="padding-left: 10px !important">Number of problems</a></li>
                    <li class="dropdown-item"><a href="#" style="padding-left: 10px !important">Score</a></li>
                  </ul>
                </div>
                &nbsp;&nbsp;
                <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle but-drop" type="button" data-toggle="dropdown" style="min-width: 110px;">
                    <span class="b-title-g ladb">Evolution</span>&nbsp;

                    <span class="btn btn-default btn-circle" style="background: unset;border:2px solid #ECEEF2;position: absolute;     right: 6px;top: 6px;"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                  </button>
                  <ul class="dropdown-menu dpmenu psdo">
                    <li class="dropdown-item">
                      <a class="click-ajax-g" data-id="1" data-title="Evolution" style="cursor: pointer;">
                        <span class="boxInput">
                          <input type="checkbox" name="radio_g" id="comu-g_1" checked>
                          <label for="com9"></label>
                        </span>
                        Evolution
                      </a>
                    </li>

                    <li class="dropdown-item">
                      <a class="click-ajax-g" data-id="2" data-title="Cumulative" style="cursor: pointer;">
                        <span class="boxInput">
                          <input type="checkbox" name="radio_g" id="comu-g_2">
                          <label for="com9"></label>
                        </span>

                        Cumulative
                      </a>
                    </li>
                    <li class="dropdown-item">
                      <a class="click-ajax-g" data-id="3" data-title="Distribution" style="cursor: pointer;">
                        <span class="boxInput">
                          <input type="checkbox" name="radio_g" id="comu-g_3">
                          <label for="com9"></label>
                        </span>

                        Distribution
                      </a>
                    </li>
                  </ul>
                </div>
                &nbsp;&nbsp;
                <div class="dropdown ">
                  <button class="btn btn-default dropdown-toggle but-drop" type="button" data-toggle="dropdown" style="">
                    <span class="ladb">Last 3 months</span>&nbsp;
                    <!--                                                -->
                    <span class="btn btn-default btn-circle" style="background: unset;border:2px solid #ECEEF2;position: absolute;     right: 6px;top: 6px;"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                  </button>
                  <ul class="dropdown-menu  dpmenu psdo">
                    <li class="dropdown-item"><a href="#" style="padding-left: 10px !important">Last 3 months</a></li>
                    <li class="dropdown-item"><a href="#" style="padding-left: 10px !important">Last 6 months</a></li>
                    <li class="dropdown-item"><a href="#" style="padding-left: 10px !important">Last 12 months</a></li>
                    <li class="dropdown-item"><a href="#" style="padding-left: 10px !important">Since beginning of the project</a></li>

                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row" style="">
            <div class="col-md-3">
              <div class="box-li">
                <div style="padding:0 10px">
                  <div style="color: #6b6b6b;font-size: 16px;font-weight: bold;font-family: Proxima Nova Light;">
                    Youtube score
                  </div>
                  <figure class="highcharts-figure">
                    <div id="container2-youtube" class="csschart"></div>
                  </figure>
                </div>
                <div style="padding: 0px 15px 10px;">
                  <div style="background: #fff;border-radius: 15px;padding: 15px 0;font-size: 12px;font-weight: bold;">
                    <table class="table table-borderless m-0 text-center">
                      <tr>
                        <td style="border-right: 2px solid #F4F5F7;    padding: 0 12px;">
                          <span class="poin c-red"><i class="fa fa-circle" aria-hidden="true"></i></span> WARNINGS <br>
                          13k <span style="color: #E2E9EF">&nbsp;|&nbsp;</span>
                          <span class="c-red">10 <i class="fa fa-caret-up" aria-hidden="true"></i></span>
                        </td>
                        <td style="padding: 0 12px;">
                          <span class="poin c-green"><i class="fa fa-circle" aria-hidden="true"></i></span> PROBLEMS <br>
                          13k <span style="color: #E2E9EF">&nbsp;|&nbsp;</span>
                          <span class="c-green">234 <i class="fa fa-caret-down" aria-hidden="true"></i></span>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>

              </div>
            </div>
            <div class="col-md-9" style="">
              <div class="box-chart-line-b" style="height: 270px; padding-top: 5px;">
                <div id="container-line-youtube-1" class="bg-watermark acv" style="position: absolute;left: 0px;bottom: 0;width: 100%"></div>
                <div id="container-line-youtube-2" class="bg-watermark" style="position: absolute;left: 0px;bottom: 0;width: 100%"></div>
                <div id="container-line-youtube-3" class="bg-watermark" style="position: absolute;left: 0px;bottom: 0;width: 100%;	background-position: 50% 50% !important;"></div>
                <div class="box-bg-logo-g">
                  <img src="assets/images/watermark.png" alt="" style="width:150px;">
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="row vertical-align" style="">
              <div class="col-md-6" style="padding: 0;">
                <div class="row" style="padding: 5px 0 5px;">
                  <div class="col-md-6" style="">
                    <div>
                      <h4>THEMATIC REPORT <a href="#" class="btn btn-circle btn-question" data-toggle="tooltip" data-placement="right" title="This chart shows the performance of your competitors in three dimensions (TrustFlow, Referring domains and Indexed webpages).">?</a></h4>
                    </div>
                  </div>
                  <div class="col-md-6" style="padding:0 7px 0 10px;">
                    <div style="padding: 10px;background:#F8F9FA;border-radius: 8px;margin-top: 7px;">
                      <div class="progress protab" style="margin: 0px 0;">
                        <div class="progress-bar bar21 bar-21" data-id="21" role="progressbar" style="width:33%"></div>
                        <div class="progress-bar bar22 bar-22" data-id="22" role="progressbar" style="width:33%"></div>
                        <div class="progress-bar bar23 bar-23" data-id="23" role="progressbar" style="width:34%"></div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row center-center-b0" style="padding-left: 10px;">

                  <div class="col-md-6 out out-21" data-id="21" style="padding:6px 6px;">
                    <div style="border: 1px solid #E9ECF1;padding-right: 6px;border-radius: 8px;">
                      <div style="display: flex;font-size: 10px;font-weight: bold;">
                        <div style="width:65%;float: left;padding: 10px;padding-right: 0;font-family: 'Proxima Nova Bold';">
                          <button class="click-detail b-c-de" onclick="scrollToElementDetail('Detail-youtube')" style="font-size: 13px;">
                            <img src="assets/images/icon-warning-4/chanel.png" alt="" style="height: 25px;"> CHANNEL

                          </button>
                        </div>
                        <div style="width:35%;float: left;padding:8px 0px;text-align: right;">

                          <span style="padding-top: 3px;display: inline-block;">
                            <button class="click-detail b-c-de" onclick="scrollToElementDetail('Detail-youtube')">SEE DETAILS

                              <span class="btn btn-default btn-circle" style="width: 23px;height: 24px;background: #fff">
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                              </span>
                            </button>
                          </span>

                        </div>
                      </div>

                      <div class="mmtop" style="display: flex;margin-top:0px;margin-bottom: 10px;">
                        <div style="width:37%;float: left;">
                          <div id="container-themetic-youtube-1" class="csschart"></div>
                        </div>
                        <div style="width:63%;padding: 0px 0px 10px;float: left;position:relative">
                          <div class="box-warning-pro">
                            <table class="table table-borderless m-0 text-center">
                              <tr>
                                <td style="border-right: 2px solid #E9ECF1;padding: 0 5px !important;line-height: 15px;font-size: 11px;">
                                  <button class="click-detail b-c-de" onclick="scrollToElementDetail('Detail-youtube')">
                                    <span class="poin-small c-red"><i class="fa fa-circle" aria-hidden="true"></i></span>
                                    WARNINGS <br>
                                    13k <span style="color: #E2E9EF">&nbsp;|&nbsp;</span>
                                    <span class="c-red">10 <i class="fa fa-caret-up" aria-hidden="true"></i></span>
                                  </button>
                                </td>
                                <td style="padding: 0 5px !important;line-height: 15px;font-size: 11px;">
                                  <button class="click-detail b-c-de" onclick="scrollToElementDetail('Detail-youtube')">
                                    <span class="poin-small c-green"><i class="fa fa-circle" aria-hidden="true"></i></span> PROBLEMS <br>
                                    13k <span style="color: #E2E9EF">&nbsp;|&nbsp;</span>
                                    <span class="c-green">234 <i class="fa fa-caret-down" aria-hidden="true"></i></span>
                                  </button>
                                </td>
                              </tr>


                            </table>
                            <div style="padding: 10px;">
                              <div class="ter">
                                <span class="dhover">
                                  <div id="smGraph-youtube-1" class="abso abso-table"></div>
                                  <!--																			-->
                                </span>
                                <a href="" class="click-modal" data-toggle="modal" data-target="#myModal" data-text="youtube" style="position: absolute;bottom: 5px;right: 5px;font-size: 16px;"><i class="fa fa-search-plus" aria-hidden="true"></i>

                                </a>
                              </div>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6 out out-22" data-id="22" style="padding:6px 6px;">
                    <div style="border: 1px solid #E9ECF1;padding-right: 8px;border-radius: 8px;">
                      <div style="display: flex;font-size: 10px;font-weight: bold;">
                        <div style="width:50%;float: left;padding: 10px;font-family: 'Proxima Nova Bold';">

                          <button class="click-detail b-c-de" onclick="scrollToElementDetail('Detail-youtube')" style="font-size: 13px;">
                            <img src="assets/images/icon-warning-4/vedio.png" alt="" style="height: 26px;"> VIDEOS
                          </button>
                        </div>
                        <div style="width:50%;float: left;padding:8px 0px;text-align: right;">
                          <span style="padding-top: 3px;display: inline-block;">
                            <button class="click-detail b-c-de" onclick="scrollToElementDetail('Detail-youtube')">SEE DETAILS

                              <span class="btn btn-default btn-circle" style="width: 23px;height: 24px;background: #fff">
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                              </span>
                            </button>
                          </span>
                        </div>
                      </div>

                      <div class="mmtop" style="display: flex;margin-top:0px;margin-bottom: 10px;">
                        <div style="width:37%;float: left;">
                          <div id="container-themetic-youtube-2" class="csschart"></div>
                        </div>
                        <div style="width:63%;padding: 0px 0px 10px;float: left;position:relative">
                          <div class="box-warning-pro">
                            <table class="table table-borderless m-0 text-center">
                              <tr>
                                <td style="border-right: 2px solid #E9ECF1;padding: 0 5px !important;line-height: 15px;font-size: 11px;">
                                  <button class="click-detail b-c-de" onclick="scrollToElementDetail('Detail-youtube')">
                                    <span class="poin-small c-red"><i class="fa fa-circle" aria-hidden="true"></i></span>
                                    WARNINGS <br>
                                    13k <span style="color: #E2E9EF">&nbsp;|&nbsp;</span>
                                    <span class="c-red">10 <i class="fa fa-caret-up" aria-hidden="true"></i></span>
                                  </button>
                                </td>
                                <td style="padding: 0 5px !important;line-height: 15px;font-size: 11px;">
                                  <button class="click-detail b-c-de" onclick="scrollToElementDetail('Detail-youtube')">
                                    <span class="poin-small c-green"><i class="fa fa-circle" aria-hidden="true"></i></span> PROBLEMS <br>
                                    13k <span style="color: #E2E9EF">&nbsp;|&nbsp;</span>
                                    <span class="c-green">234 <i class="fa fa-caret-down" aria-hidden="true"></i></span>
                                  </button>
                                </td>
                              </tr>


                            </table>
                            <div style="padding: 10px;">
                              <div class="ter">
                                <span class="dhover">
                                  <div id="smGraph-youtube-2" class="abso abso-table"></div>
                                  <!--																			-->
                                </span>
                                <a href="" class="click-modal" data-toggle="modal" data-target="#myModal" data-text="youtube" style="position: absolute;bottom: 5px;right: 5px;font-size: 16px;"><i class="fa fa-search-plus" aria-hidden="true"></i>

                                </a>
                              </div>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6 out out-23" data-id="23" style="padding:6px 6px;">
                    <div style="border: 1px solid #E9ECF1;padding-right: 8px;border-radius: 8px;">
                      <div style="display: flex;font-size: 10px;font-weight: bold;">
                        <div style="width:65%;float: left;padding: 10px;font-family: 'Proxima Nova Bold';">

                          <button class="click-detail b-c-de" onclick="scrollToElementDetail('Detail-youtube')" style="font-size: 13px;">
                            <img src="assets/images/icon-warning-4/playlist.png" alt="" style="height: 26px;"> PLAYLISTS

                          </button>
                        </div>
                        <div style="width:35%;float: left;padding:8px 0px;text-align: right;">
                          <span style="padding-top: 3px;display: inline-block;">
                            <button class="click-detail b-c-de" onclick="scrollToElementDetail('Detail-youtube')">SEE DETAILS

                              <span class="btn btn-default btn-circle" style="width: 23px;height: 24px;background: #fff">
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                              </span>
                            </button>
                          </span>
                        </div>
                      </div>

                      <div class="mmtop" style="display: flex;margin-top:0px;margin-bottom: 10px;">
                        <div style="width:37%;float: left;">
                          <div id="container-themetic-youtube-3" class="csschart"></div>
                        </div>
                        <div style="width:63%;padding: 0px 0px 10px;float: left;position:relative">
                          <div class="box-warning-pro">
                            <table class="table table-borderless m-0 text-center">
                              <tr>
                                <td style="border-right: 2px solid #E9ECF1;padding: 0 5px !important;line-height: 15px;font-size: 11px;">
                                  <button class="click-detail b-c-de" onclick="scrollToElementDetail('Detail-youtube')">
                                    <span class="poin-small c-red"><i class="fa fa-circle" aria-hidden="true"></i></span>
                                    WARNINGS <br>
                                    13k <span style="color: #E2E9EF">&nbsp;|&nbsp;</span>
                                    <span class="c-red">10 <i class="fa fa-caret-up" aria-hidden="true"></i></span>
                                  </button>
                                </td>
                                <td style="padding: 0 5px !important;line-height: 15px;font-size: 11px;">
                                  <button class="click-detail b-c-de" onclick="scrollToElementDetail('Detail-youtube')">
                                    <span class="poin-small c-green"><i class="fa fa-circle" aria-hidden="true"></i></span> PROBLEMS <br>
                                    13k <span style="color: #E2E9EF">&nbsp;|&nbsp;</span>
                                    <span class="c-green">234 <i class="fa fa-caret-down" aria-hidden="true"></i></span>
                                  </button>
                                </td>
                              </tr>


                            </table>
                            <div style="padding: 10px;">
                              <div class="ter">
                                <span class="dhover">
                                  <div id="smGraph-youtube-3" class="abso abso-table"></div>
                                  <!--																			-->
                                </span>
                                <a href="" class="click-modal" data-toggle="modal" data-target="#myModal" data-text="youtube" style="position: absolute;bottom: 5px;right: 5px;font-size: 16px;"><i class="fa fa-search-plus" aria-hidden="true"></i>

                                </a>
                              </div>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <div class="col-md-6" style="padding-left: 60px;padding-top: 5px;">
                <div style="padding: 0px 0 11px;">
                  <h4>TOP WARNINGS <a href="#" class="btn btn-circle btn-question" data-toggle="tooltip" data-placement="right" title="This chart shows the performance of your competitors in three dimensions (TrustFlow, Referring domains and Indexed webpages).">?</a></h4>
                </div>
                <div style="padding-right: 30px;">
                    <!-- Top warning custom -->
                    <div class="box-table-top-warning" *ngFor="let topwarning of topwarnings">
                      <table class="table table-borderless m-0 table-top-warning">
                        <tr>
                          <td>
                            <span class="btn btn-default btn-circle span-bg-unset" style="background: unset;border:2px solid #ECEEF2;cursor: unset;">
                              <img src="assets/images/icon-warning-4/chanel.png" alt="" style="height: 21px;">
                            </span>
                          </td>
                          <td><span [ngClass]="topwarning.val >= 7 ? 'label label-danger' : 'label label-warning'">{{topwarning.val}}<span class="f10">/10</span></span></td>
                          <td class="text-left">
                            <div>

                              <span style="line-height: 30px;">{{topwarning.content}}</span>
                            </div>
                          </td>
                          <td>
                            <div [ngClass]="topwarning.val >= 7 ? 'label label-danger' : 'label label-warning'" style="display: block;padding: 8px;border-radius: 15px;">
                              {{topwarning.problem}}
                            </div>
                          </td>
                        </tr>
                      </table>
                    </div>
                     <!-- Top warning custom -->

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Youtube Detail-->

    <!-- End Youtube Detail-->

</div>

<footer>
  <div class="row">
    <div class="col-lg-2 col-sm-2 col-md-2 col-xs-12 footer-left">
      <img src="assets/images/logo.png" />
    </div>
    <div class="col-lg-10 col-sm-10 col-md-10 col-xs-12">
      <ul class="navbar-right menu-footer">
        <li><a href="#">TERMS OF SERVICE</a></li>
        <li><a href="#">SUPPORT</a></li>
        <li>&copy;2010-2016</li>
      </ul>
    </div>
  </div>
</footer>

