<div class="row">
  <!--start row conten3-->
  <div class=" col-lg-12 col-sm-12 col-md-12 col-xs-12 content3">
    <!--start col content3-->
    <div class="row">
      <div class=" col-lg-12 col-sm-12 col-md-12 col-xs-12 width-content">
        <ul class="list-confi">
          <li>
            <a routerLink="../configurations-website" routerLinkActive="active" >
                                        <img src="./assets/images/icon-con-web.png">
                                        <h1>WEBSITE</h1>
                                        <p>Add a new website or modify an existing one.</p>
                                       </a>
          </li>
          <li>
            <a routerLink="../configurations-email" routerLinkActive="active" >
                                        <img src="./assets/images/icon-con-email.png">
                                        <h1>EMAIL</h1>
                                        <p>Add a new address email for receiving the alerts or modify an existing one.</p>
                                        </a>
          </li>
          <li>
            <a routerLink="../configurations-campaigns" routerLinkActive="active" >
                                        <img src="./assets/images/icon-con-campaings.png">
                                        <h1>CAMPAIGNS</h1>
                                        <p>Add a new AdWords account or modify an existing one.</p>
                                        </a>
          </li>
          <li>
            <a routerLink="../configurations-ip-address" routerLinkActive="active" >
                                        <img src="./assets/images/icon-con-ip.png">
                                        <h1>IP ADDRESS</h1>
                                        <p>Add a new IP address or modify an existing one.</p>
                                        </a>
          </li>
          <li style="border-bottom: none;">
            <a routerLink="../configurations-users" routerLinkActive="active" >
                                        <img src="./assets/images/icon-con-user.png">
                                        <h1>USERS</h1>
                                        <p>Manage the users of the account.</p>
                                        </a>
          </li>
          <li>
            <a routerLink="../configurations-server" routerLinkActive="active" >
                                        <img src="./assets/images/icon-con-user.png" style="height: 74px;">
                                        <h1>SERVER</h1>
                                        <p>Add a server access (FTP, SFTP) or modify an existing one.</p>
                                        </a>
          </li>
        </ul>
      </div>
      <!--end col -->
    </div>
    <!--end row -->
  </div>
  <!--end col content3-->
</div>
<!--end row content3-->