<body class="bg-home-mb">
  <div id="page">
    <div class="container-fluid bg-page">
      <nav class="navbar navbar-inverse navbar-fixed-top" id="head" style="height: 54px;">
        <div class="container-fluid">
          <div class="navbar-header" style="padding: 0 0 0 15px;">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
              aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
            <a class="navbar-brand logo" href="#"><img src="./assets/images/logo.png" /></a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
          </div>
        </div>
      </nav>
      <!--end nav-->
      <div class="row">
        <div class=" col-lg-12 col-sm-12 col-md-12 col-xs-12 content-ip">
          <h1>Your IP was not recognized as an authorized IP</h1>
        </div>
      </div>
    </div>
    <!--container-fluid-->
  </div>
</body>
<footer style="background-color: #fff">
  <div class="row">
    <div class=" col-lg-2 col-sm-2 col-md-2 col-xs-12 footer-left">
      <img src="./assets/images/logo.png" />
    </div>
    <div class=" col-lg-10 col-sm-10 col-md-10 col-xs-12">
      <ul class="navbar-right menu-footer">
        <li><a href="javascript:void(0)">TERMS OF SERVICE</a></li>
        <li><a href="javascript:void(0)">SUPPORT</a></li>
        <li>&copy;2010-2016</li>
      </ul>
    </div>
  </div>
</footer>