/* #519ffc */
            .warning .menu-tabs li a{
                padding: 10px 20px !important;
            }
           .warning .dropdown-menu>.active>a,
           .warning .dropdown-menu>li.active,  
           .dropdown-menu>.active>a:focus, 
           .dropdown-menu>.active>a:hover {
    color: #fff !important;
    background-color:  #519ffc !important;
   
}

.warning .dropdown-menu.tabNoAc>.active>a,
.warning .dropdown-menu.tabNoAc>li.active  
 {
color: unset !important;
background-color:  unset !important;

}

 

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
    background-color: #519ffc;
}

nav.pagi{
    text-align: right;
    padding: 20px 0;
}
.warm-tt.g{
color: rgb(61, 214, 116);
}
.boxID{
    min-height: 300px;
    width: 98.6%;
    margin-top: 10px;
    position: relative;
}
.warning .menu-all .dropdown-menu li a:hover {
    display: block;
    padding: 3px 5px;
    color: #ffffff;
    background: #519ffc;
}
.warning  .menu-all .dropdown-menu{
    margin-left: 20px;
}
.warning .dropdown-menu, .warning .menu-all li{
    min-width: 100px;
}

.img-warn-2{
	margin-top: 3px; 
}
.marginTopdis2{
   margin-top: -2px;
}
.marginTopBottomAuto{
	margin-top: auto;
	margin-bottom: auto;
}
.warning .content3{
                background: transparent !important;
                width: 100%;
                padding-bottom: 10px;
            }
            .warning  .nav-tabs{
                text-transform: uppercase;
    border-bottom: 0px solid transparent !important;
    width: 98.6%;
    display: inline-flex;
    justify-content: center;
            }
            /* #openThematic{ */
                /* cursor: pointer; */
            /* } */
            .gIocn{
                float: right;
                margin-top: -2px;
            }
          

            .imgtr{
                height: 18px;
                width: 10px;
                margin-left: 3px;
                margin-right: 3px;
            }

           .menu-h-exp{
               text-transform: uppercase;
           }
        .icon-remove{
               margin: unset;
              cursor: pointer;
           }
           .tooltip-question.pd{
               padding: 10px 20px 30px 20px;
           } 
           .menu-h-exp{
               text-transform: uppercase;
           }
           .themaTit img,.themaTit1 img{
          height: 27px;
   padding-right: 4px;
           }
           .icon-remove{
               margin: unset;
              cursor: pointer;
           }
           .tooltip-question.pd{
               padding: 10px 20px 30px 20px;
           } 
           .menu-h-exp{
               text-transform: uppercase;
           }

            .tooltip-question {

                display: inline-flex;
                justify-content: flex-start;
                align-items: center;
                width: 100%;              
            }

            .menu-all {
                display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    float: right;
    width: 50%;
    height: 46px;
    padding: 0 !important;
            }

          .heTit{
            /* border-top: 1px solid #ddd;
            border-left: 1px solid #ddd;
            border-right: 1px solid #ddd; */
            display: inline-flex;
            width: 100%;
            padding: 0 10px;
          }
          .heTit .themaTit1{
        padding: 0;
            align-items: center;
    display: inline-flex;
          }

            button.tabDetail,button.tabDetail1  {
    background-color: #519ffc !important;
    border: 1px solid #519ffc !important;
    color: #fff !important;
}

            .menu-tabs li {
    display: inline-block;
    margin: 0;
    float: left;
}

.warmCircle .box2{
    padding-top: 60px;
}
.boxDetail{
display: none;
}

.borderL{
    border-right: 1px solid #ddd;
}
.borderR{
    display: grid;
    justify-content: center;
    align-items: center;
    /* height: 379px; */
}

#openThematic.themaTit1{
    margin-bottom: 0 !important;
}

button.reset{
    background: transparent;
    border-color: transparent;
}
.zoom{
    position: relative;
    top: -2px;
    /* bottom: 0; */
    text-align: right;
    width: 100%;
    padding-right: 17px;
}
td .zoom{
    padding-right: 7px;
}
/* .content-teb-seo .menu-tabs li a {
    padding: 15px 26px;
    border-right: 1px solid #ddd !important;
} */
               .boxID{
                   margin-bottom: 15px;
                   height: 100%;
                   background: #fff;
                 
               }
               .themaTit img{
                   height: 27px;
               }
               button.btn.btn-default.gray.tabDetail {

    color: #6b6b6b !important;
    border:1px solid #6b6b6b !important;
    background: #fff !important;
}
                .m-0 {
                    margin: 0 !important;
                }
                .warm-tt{
                    font-size: 33px;
            font-weight: bold;
            font-family: Proxima Nova Bold;
            position: absolute;

            bottom: 90px;
    left: 67px;
            right: auto;
            color: #ffb652;
                }

                .webCon{
                    background-color:#5E5D73;
                }
                .webNetlin{
                    background-color: #0099FF;
                }
                 
.boxThematic.visib{
    visibility: hidden;
}
                /* #boxThematic{
                    border-bottom: 1px solid #ddd;
                    
                } */
                /* themaTit1 openThematic */
                /* .warning .openThematic:hover{ */
                    /* color: #519ffc !important; */
                /* } */
                /* .warning .openThematic{ */
                    /* cursor: pointer; */
                /* } */
                .warmCircleSm .box{
                   display: inline-block;
 
    width: 100%;

                }
                .themaTit1.openThematic{
                    margin-bottom: 0 !important;
                }
              
                .warmCircle .box{
                    display: inline-flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 calc(33.33333333% - 252px) 0 calc(33.33333333% - 252px);
                }
                .warmCircle .box1{
                    display: inline-flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100%;
            /* width: 170px;
            height: 170px; */
            position: relative;
                }
.p-0{
    padding: 0 !important;
}
                /* .boxID::before{
                    content: '';
    position: static;
    width: 100%;
 
    top: -15px;
    background: #f0f1f1;
                }

                .boxID.top80::before{
                    content: '';
    height: 52px;
  
}  */


                .warmCircleSm .box1{

                    position: relative;
    width: 120px;
    display: inline-block;
    float: left;
                }
                .boxH{
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                opacity: 0;
                }
                .warmCircleSm .box2{
                    width: calc(100% - 120px);
    display: inline-block;
    padding-top: 10px;
    /* padding-left: 8px; */
                }
              
.boxTit{
    margin-bottom: 5px;
    display: flex;
}
.titLeft{
    width: 72px;
    float: left;
    white-space: nowrap;
    display: inline-table
   
}

.tbDetail tr>td .spanber{
    font-size: 12px;
    position: absolute;
    top: 9px;
    width: 100%;
    margin: auto;
    left: 0;
    right: 0;
}


.table.tbDetail tr>td .boxFlex{
    display: inline-flex;
    width: 100%;
}

.tbDetail tbody tr>td span.fbox{
    width: 200px !important;
    display: inline-block;
}

.tbDetail tbody tr>td:nth-child(1) span{
    margin-right: 3px;
    width: 80px;
}

.table.tbDetail tr>td:nth-child(5){
/* display: inline-flex; */
width: 150px;
}
.table.tbDetail tr>td:nth-child(5) img{
    margin-left: 8px;
}
.tbDetail .progress{
    width: 70%;
    position: relative;
}
.tbDetail .progress-bar{
    border-radius: 20px;
}
.tbDetail .progress{
    margin-top: 5px !important
}
.tbDetail td{
    font-size: 12px;
}
.tbDetail tbody tr>td:nth-child(1){
    width: 355px;
    padding-right: 0 !important;

}
.tbDetail tbody tr>td:nth-child(2){
    width: 70px;
    text-align: center;
}
.tbDetail tbody tr>td:nth-child(3){
    width: 120px;
    text-align: center;
}

.tbDetail tbody tr>td:nth-child(4){
    width: 60px;
    text-align: center;
    padding-right: 1px !important;
}
.tbDetail tbody tr>td:nth-child(5){
    width: 120px !important;
    text-align: center;
    padding: 10px 0 10px 10px !important;
}
.tbDetail thead tr>th{
    text-align: center;
}


/* .tbDetail tbody tr>td:last-child{
    width: 300px;
} */

.table.tbDetail >thead>tr>th:last-child,
.table.tbDetail >tbody>tr>td:last-child{
    border-right: 0 !important;
}

.smGraph{
    position: relative;
}
.icon-remove:hover, .icon-remove.active{
    margin: unset;
}

.IconDev::before{
content:'dev';
color: #fff;
}
.IconDev{
    border-radius: 42px;
    background: #519ffc;
    height: 18px;
    font-size: 11px;
    text-align: center;
    padding: 2px 7px;
    cursor: pointer;
}

.Severity{
    
    text-align: center;
     
}

.Severity>span:nth-child(1){
    padding: 1px 5px;
    font-size: 12px;
    display: inline-block;
    font-family: 'Proxima Nova Bold';
}
.Severity>span:nth-child(1)> span{
    font-family: 'Proxima Nova light';
    font-size: 9px;
    padding-left: 1px;

}
.menu-n-tabs li a{
    padding-left: 10px;
}
.TopWarnings li{
padding-left: 4px;
}
.TopWarnings .Severity{
padding-right: 11px;
}


.w3 .barWrapper .progress{
    height: 20px !important;
}


.tbDetail 
{
    border-top: 1px solid #ddd !important;
    border-bottom: 1px solid #ddd !important;
}
.table.tbDetail >thead>tr>th {
    border-bottom: 1px solid #ddd;
    font-weight: 800 !important;
    color: #6b6b6b;
    font-family: 'Proxima Nova Bold';
    vertical-align: middle;
    height: 44px;
    border-right: 1px solid #ddd;
}

.table.tbDetail tr.topH >td{
    vertical-align: top !important;
}

.table.tbDetail tr>td {
font-family: 'Proxima Nova Light';
    color: #6b6b6b;
    font-size: 14px;
    border-right: 1px solid #ddd;
    vertical-align: middle;
    border-top: 0;
}

    .Severity .redDark{
        background: #e28300;
        color: #fff !important;
    }
    .Severity .red{
        background: #ff0d12 !important;
        color: #fff !important;
    }
    .Severity .orange,.orange .progress-bar{
        background: #FFB652;
        color: #fff !important;
    }
    /* .orange span{
        color: #FFB652;
    } */
 .hideSee{
     display: none;
 }

.see{
    position: relative;
    width: 15%;
    float: right;
    white-space: nowrap;
    cursor: pointer;

 }
.seeless::before{
    content: 'see less' !important;
    /* bottom: 0 !important;
    top:unset !important */
    }

    .collapsing {
        position: relative;
        height: 0;
        overflow: hidden;
        -webkit-transition-timing-function: unset !important;;
        -o-transition-timing-function: unset !important;
        transition-timing-function: unset !important;
        -webkit-transition-duration: unset !important;
        -o-transition-duration: unset !important;
        transition-duration: unset !important;
        -webkit-transition-property:unset !important;
        -o-transition-property: unset !important;
        transition-property: unset !important;
    }
   
.see::before{
    content: 'see more';
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: underline;
    color: #519ffc;
}
.show-detail{
    position: relative;
    width: 100%;
    display: inline-block;
}

li{
    list-style: none;
}

.IconCon::before{
    content:'con';
    color: #fff;
    }
    .IconCon{
        border-radius: 42px;
        background: #ba0aff;
        height: 18px;
        font-size: 11px;
        text-align: center;
        padding: 2px 7px;
        padding: 2px 7px;
        cursor: pointer;
    }

.IconNew::before{
    content:'New';
    color: #fff;
    }
    .IconNew{
        /* border-radius: 5px; */
        background: #2bb900;
        height: 18px;
        font-size: 11px;
        text-align: center;
        padding: 2px 7px;
    }
    
    

.tooltip-question.smGraph .tooltip.fade.bottom.in div,
.tooltip-question.smGraph .tooltip.fade.bottom.in {
    width: 80px !important;
    left: 0 !important;
    
}
.abso{
    margin-left: -10px;
}

.titRight{
    display: inline-block;
    width: 72px;
    margin-left: 0px;
    margin-top: 7px;
    position: relative;
}
.p-0{
    padding: 0 !important;
}

.warmCircleSm{
    padding: 0 5px !important;
    display: grid;
    flex-direction: row-reverse;
    justify-content: center;
}


                .warning .head{
                    padding: 3px 15px 0 15px;
                    background: #fff;
                    border-bottom: 1px solid #ddd;
                    width: 100%;
                    display: inline-flex;
                    align-items: center;
                    height: 46px
                }
                /* .warmCircle .box1 #seo1{
                    width: 170px;
            height: 170px;

                } */
.themaTit{
 
    padding-left: 20px;
    font-family: 'Proxima Nova Bold';
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 5px;

}

                #Evo{
                    min-width: 100%; margin: 0 auto;
                }
                #Cumula{
                    min-width: 100%;  max-width: 100%; width:100%;
                }
                /* #Distribution{
                    min-width: 100%;  max-width: 100%; margin: 0 auto"
                    } */
                    /* .boxAbso{
                        position: absolute;
                        top: 50px;
                        width: 100%;
                    } */

                    #Distribution, #Distribution > div{
                        overflow: unset !important;
                    }
/* .textgrap.arrow-up img{ */
                    /* transform: rotate(60deg); */
    /* margin-top: 5px; */
/* } */
/*  */
              
                    .warmCircleSm .box3{
                    display: flex;
                    flex-direction: column;
                    /* padding-top: 20px; */
                    }

                    .boxRight{
                        float: right;
    text-align: right;
    padding-right: 40px;
                    }
                     

                    a.btn.btn-default.sm,button.btn.btn-default.sm{
                        min-width: 45px !important;
    font-size: 11px !important;
    max-width: 50px;
    padding: 3px 5px;
    /* margin-top: 13px; */
}
.imo{
    padding-left: 5px;
    z-index: 9;
   
}
.themaTit1{
    padding-top: 20px;
    font-family: 'Proxima Nova Bold';
    font-size: 14px;
}

.openThematic{
    font-family: 'Proxima Nova Bold';
    font-size: 14px;
}

.barWrapper .progress{
    border-radius: 3px;
    height: 25px;
    position: relative;
    margin: auto;
}
.barWrapper{
    width: 52%;
    padding: 0 20px;
}

.dsFlex{
    display: inline-flex;
    align-items: center;
    font-family: 'Proxima Nova Light';
    /* font-size: 12px; */
    white-space: nowrap;
}
.warning .box2 .tit{
    font-family: 'Proxima Nova Light';
    font-size: 14px;
    padding: 20px 0 0 0;
    display: flex;
    background: transparent;
    border: 0;
                         
                    }
                    .warning .box2 .tit1{

                        display: flex;
                        background: transparent;
                        border: 0;
                        padding: 0 15px 0 0;
                    }
                    .warning .warmCircle .box2 .tit1 img{
                        width: 10px;
    height: 18px;
    margin-right: 5px;
                    }
                    .greenC{
                        color: #3DD674;
                    }
                   

                    .warning .menu-all li {
                       
                        /* padding: 3px 5px; */
                        white-space: nowrap;


                    }

                    .warning .box2 .tit1 img{
                    width: 7px;
                    height: 12px;

                    }

                    input[type=checkbox].wCk {
                        display: inline-block;
                        opacity: 1;
                        position: relative;
                        left: unset;
                        border-color: #ddd;
                    }

.warning  .box2 .tit1 span{
    color: #3DD674;
    margin-left: 10px;
    
}
.warning  .box2 .tit1 span.red{
    color: #ff0d12 !important;
   
}
.highcharts-legend-item.highcharts-column-series
span
{
    /* background: #fff;
    left: 0 !important;
    z-index: 5; */
   
}
.highcharts-legend-item.highcharts-column-series .highcharts-point{
/* width: 18px;
    height: 30px; */
/*    fill: transparent;*/
}
.highcharts-legend-item.highcharts-column-series.highcharts-legend-item-hidden
img
{
opacity: 0.4;
    filter: grayscale(100%);
}
.highcharts-legend{
    z-index: 0;
}
#Distribution .highcharts-legend-item.highcharts-column-series{
    left: 0 !important;
}

.highcharts-root .highcharts-label.highcharts-tooltip{
    display: none;
 
}
.hideSee{
    margin-top: 2px;
}
.highcharts-label.highcharts-tooltip > span{
    background: #fff;
    border: 1px solid #d9d9d9;
    padding: 10px 15px;
    box-shadow: 1px 1px 3px #dfdfdf;
    border-radius: 5px;

}

#Distribution .highcharts-label.highcharts-tooltip > span{
    top: -55px !important;
}


#Distribution .highcharts-series-0 span{
left: 0px !important;
}
#Distribution .highcharts-series-1 span{
left: 70px !important;
}
#Distribution .highcharts-series-2 span{
    left: 140px !important;
}
#Distribution .highcharts-series-3 span{
    left: 210px !important;
}
#Distribution .highcharts-series-4 span{
    left: 280px !important;
}
#Distribution .highcharts-series-5 span{
    left: 350px !important;
}
#Distribution .highcharts-series-6 span{
    left: 420px !important;
}
#Distribution .highcharts-series-7 span{
    left: 490px !important;
}

#Distribution .highcharts-legend{
    left:105px !important;
    z-index: 0;
}

.watermark.g-small {
 
    background-position: 50% 30% !important;
}

.textgrap1 {
    color: #3DD674;
    display: inline-flex;
    position: absolute;
    bottom: 47px;
    left: 48px;
    font-size: 12px;
    font-family: 'Proxima Nova light';
    display: inline-flex;
    align-items: center;
}
.textgrap1 img{
    margin-right: 3px;
    width: 7px;
    height: 12px;    
}
.w2 .barWrapper{
width: unset;
padding: 20px;
}
.textgrap.arrow-down img{
    transform: rotate(180deg);
}

/* .textgrap1.arrow-down img, */
/* .textgrap1.arrow-up img,  */
/* .textgrap.red img{ */
    /* transform: rotate(180deg); */
/* }  */
/* #boxThematic .textgrap1.arrow-up img{ */
    /* transform: rotate(-180deg); */
/* } */

.tit1.arrow-360 img,.tit1.arrow-360 img{
    transform: rotate(-180deg);
}
.warning input[type=checkbox]{
display: inline-block;
position: absolute;
left: 0;
cursor: pointer;
}

.warning input[type=checkbox] + label
{
margin: 0;
}

.warning .boxInput{
    width: 20px;
    height: 20px;
    margin-right: 4px;
    margin-left: 5px;
    top: 3px;
    /* display: inline-flex; */
    /* z-index: 2; */
    position: relative;

}


.ro1{
    transform: rotate(180deg); 
}
.ro{
    transform: rotate(180deg); 
}
.menu-all{
    z-index: 1;
}

.imgGray{
    margin-left: 2px;
    margin-top: -5px;
    transform: rotate(-30deg);
    -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
         -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
         -webkit-filter: grayscale(100%);
         filter: gray;
         filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
     }



.textScr{
    font-size:16px;
    line-height: 15px;
}

.textgrap img{
    margin-right: 3px;
    width: 10px;
    height: 18px;
}
.textgrap.arrow-up{

}



.textgrap{
    color: #3DD674;
    display: inline-flex;
    position: absolute;
    bottom: 75px;
    left: 83px;
    font-size: 17px;
    font-family: 'Proxima Nova light';
    display: inline-flex;
    align-items: center;
            }

            .highcharts-legend-item.highcharts-column-series:hover .all:before{
                content: '';
                bottom: -15px;
                position: absolute;
                white-space: nowrap;
                font-size: 12px;
                font-family: 'Proxima Nova Light';
    color: #6b6b6b;
    margin: auto;
            }


            #Global .barWrapper .progress{
                margin: 10px auto 30px auto;
                width: 60%;
                cursor: pointer;
            }

            .highcharts-legend-item.highcharts-column-series:hover .conadaHover:before{
                content: 'Content adaptation';
            }
            .highcharts-legend-item.highcharts-column-series:hover .speedHover:before{
                content: 'Speed';
            }
            .highcharts-legend-item.highcharts-column-series:hover .web_sHover:before{
                content: 'Website structure';
            }
            .highcharts-legend-item.highcharts-column-series:hover .codeHover:before{
                content: 'Tracking Code';
            }
            .highcharts-legend-item.highcharts-column-series:hover .legalHover:before{
                content: 'Legal';
            }

            .highcharts-legend-item.highcharts-column-series:hover .chanelHover:before{
                content: 'Channel';
            }
            .highcharts-legend-item.highcharts-column-series:hover .vedioHover:before{
                content: 'Video';
            }
            .highcharts-legend-item.highcharts-column-series:hover .playlistHover:before{
                content: 'Playlist';
            }

            .highcharts-legend-item.highcharts-column-series:hover .DatainHover:before{
                content: 'Data integrity';
            }
            .highcharts-legend-item.highcharts-column-series:hover .ConfigurationHover:before{
                content: 'Configuration';
            }

            .highcharts-legend-item.highcharts-column-series:hover .moHover:before{
                content: 'Mobile';
            }
            .highcharts-legend-item.highcharts-column-series:hover .desktopHover:before{
                content: 'Desktop';
            }

            .highcharts-legend-item.highcharts-column-series:hover .conHover:before{
                content: 'Content';
            }
            .highcharts-legend-item.highcharts-column-series:hover .netHover:before{
                content: 'Netlinking';
            }
            .highcharts-legend-item.highcharts-column-series:hover .wHover:before{
                content: 'Web site';
            }
            .highcharts-legend-item.highcharts-column-series:hover .mHover:before{
                content: 'Mobile';
            }

            .highcharts-legend-item.highcharts-column-series:hover .loHover:before{
                content: 'Load. time';
            }

            .highcharts-legend-item.highcharts-column-series:hover .gaHover:before{
                content: 'G.Analytics';
            }

            .highcharts-legend-item.highcharts-column-series:hover .sHover:before{
                content: 'S. Console';
            }

            .highcharts-legend-item.highcharts-column-series:hover .yHover:before{
                content: 'Youtube';
            }

            .highcharts-legend-item.highcharts-column-series:hover .gmbHover:before{
                content: 'GMB';
            }

            .highcharts-legend-item.highcharts-column-series:hover .lHover:before{
                content: 'Logs';
            }


            .highcharts-legend-item.highcharts-column-series > span{
overflow: unset !important;
            }
           
            .abso .highcharts-container {
                height: 32px !important;
            }
            .gray.nohover{
                cursor: text;
            }
            .TopWarnings {
                list-style: none;
                margin-block-start: 0;
                margin-block-end: 0;
                padding-inline-start: 0px;
                color: #6b6b6b;
                margin-bottom: 5px;
                display: inline-flex;
                width: 100%;
            }
            .redDark{
                color: #704100;
            }
            .red{
                color: #ff0d12 !important;
            }
            .orange{
                color: #FFB652;
            }
            .highcharts-series-hover{
                bottom: -200px !important;
                position: absolute;
            }
            .boxRight{
                display: inline-flex;
                /* justify-content: flex-end; */
                align-items: center;
                /* text-align: right; */
                /* float: right; */
                width: 50%;
            }
            .positionR{
                position: relative;
            }
            .SearchConsole{
                display: inline-flex;
                height: 100%;
                width: 100%;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background: rgba(250, 250, 250, 0.8);
                font-size: 20px;
                font-family: 'Proxima Nova Bold';
                position: absolute;
                top: 0;
                left: 0;
                z-index: 5;
                color: #6b6b6b;

            }
            .SearchConsole span{
color: darkblue;
text-decoration: underline;
            }

            .highcharts-title{
                position: absolute;
                top: 0;
            }

            .loadtime {
                font-size: 12px;
                font-weight: bold;
                font-family: Proxima Nova Bold;
                position: absolute;
                top: 56px;
                left: 49px;
                right: auto;
                color: #ffb652;
            }

            .progress-bar.nob{
                border-radius:  0 !important;
            }
            .progress-bar.g{
                background: #3DD674;
                border-radius:  3px 0  0 3px;
            }
            .progress-bar.o{
                background:#FFB652;
                border-radius: 0 3px 3px 0;
            }
#Website .progress-bar{
            width: 60%;
            margin: auto;
        }
         
         .gIocn .hoverM{
             cursor: pointer;
         }
         
        .progress-bar.chanel{
            
            background-color: #5E5D73;
        }

        .progress-bar.vedio{
            background-color: #0099FF;
        }

        .progress-bar.playlist{
            background-color: #3612BA;          
        }

        .progress-bar.config{
            background-color: #0099FF;
        }

   
        .progress-bar.datain{
            background-color: #5E5D73;          
        }



        .progress-bar.conada{
background-color:  #5E5D73;
        }

        .progress-bar.speed{
            background-color: #0099FF;
        }

        .progress-bar.webstruc{
            background-color: #3612BA;
        }

        .progress-bar.mobi{
            background-color: #0099FF;
        }

        .progress-bar.desktop{
            background-color: #5E5D73;
        }
         

        .progress-bar.code{
            background-color: #3612BA;
        } 
         

        .progress-bar.legal{
            background-color: #A85400;
        }
        #Global .barWrapper{
            width: 100%;
            padding: 15px 0 0 0;
        }
        .grayS{
           opacity: 0.4;
        }
        .nograyS{
            opacity: unset !important;
           transform: scale(1.05);
        }
 
 .progress-bar{
     cursor: pointer;
 }
.progress-bar.bar11{
    background: #ED723D;
    border-radius:  3px 0  0 3px;
}
.progress-bar.bar12{
    background: #5DBEFF;
}

.progress-bar.bar13{
    background: #E88ED7;
}
.progress-bar.bar14{

    background: #F5c100;
}
/* .progress-bar.bar15{
    background:#5f6dd7;
} */
.progress-bar.bar16{
    background:#FF0000;
}
.progress-bar.bar17{
    background:#FF7994;
   
}
.progress-bar.bar18{
    background:#5f6dd7;
    border-radius: 0 3px 3px 0;
}
 
.progress-bar {
    border-radius: 0 ;
}

.content-teb-seo{
    position: sticky !important;
    top: 70px;
    left: calc(16.66666667% + 15px);
    z-index: 9;
}
.content-teb-seo::before{
    content: '';
    height: 15px;
    width: 100%;
    background: #f1f1f1;
    position: absolute;
    top: -15px;
}

.warning .content-teb-seo .menu-tabs li a {

    border-right: 1px solid #ddd !important;
    border-top: 1px solid #ddd !important;
    border-left: 0px solid #ddd !important;

}


.warning .content-teb-seo .menu-tabs li:nth-child(1) {
border-left: 1px solid #ddd !important;
}

.warning  .list-part.ben li {
    width: auto;
    display: contents;
}

.warning  .list-part.ben {
    width: 100% !important;
    display: inline-flex !important;
    justify-content: space-evenly  !important;
}
.pointer{
    cursor: pointer;
}
.dropdown-menu span{
    cursor: pointer;
}
.center-horizontally{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 67%;
}
/* #mNavbar::before{
    content: '';
    height: 80px;
    position: absolute;
    clear: both;
    top: 80px;
    display: block
} */



.content-set-warn {
    min-height: unset;
}         
       