.texttoggle {
		cursor: pointer
	}

	.ddf2 {
		display: none;
	}

	.box-recomment1 {
		position: relative !important;
		height: 30px !important;
		overflow: hidden !important;
		font-size: 12px !important;
		text-align: left !important;
		width: 300px !important;
		padding-right: 15px !important;
	}

	.show-box {
		height: 100% !important;
	}

	.bb-bx {
		position: relative !important;
		font-size: 12px !important;
		text-align: left !important;
		/*		width: 200px !important;*/
		/*		padding-right: 15px !important;*/
	}


	.bb-bx .header {}

	.bb-bx .content {
		display: block !important;
		overflow: hidden;
	}

	.box-show {
		height: 100% !important;
	}

	#topbar {
		height: 30px;
		text-align: center;
		overflow: hidden;
		padding-right: 15px !important;
		padding-left: 15px !important;
	}

	.js-arrow {
		transform: translate(-50%, -50%) rotate(180deg) !important;
	}

	#container-line,
	#container-line-cumu,
	#container-line-distri,
	#container-line-2,
	#container-line-cumu-b,
	#container-line-distri-b,
	#container-line-mobile-1,
	#container-line-mobile-2,
	#container-line-mobile-3,
	#container-line-load-1,
	#container-line-load-2,
	#container-line-load-3,
	#container-line-g-1,
	#container-line-g-2,
	#container-line-g-3,
	#container-line-search-1,
	#container-line-search-2,
	#container-line-youtube-1,
	#container-line-youtube-2,
	#container-line-youtube-3,
	#container-line-gmb-1,
	#container-line-gmb-2,
	#container-line-logs-1,
	#container-line-logs-2 {
		opacity: 0;
		width: 0%;
		display: block;
		z-index: 0;
	}

	#Detail,
	#Detail-mobile,
	#Detail-load,
	#Detail-g,
	#Detail-youtube,
	#Detail-search,
	#Detail-gmb,
	#Detail-logs {
		display: none;
	}

	.acv {
		opacity: 1 !important;
		left: 0 !important;
		width: 100% !important;
		visibility: visible;
		transition: 1s;
		z-index: 1 !important;
	}

	.click-eye,
	.close-box-table {
		cursor: pointer;
	}

	.box-more-table {
		display: none;
	}

	.box-more-table.show-box-more {
		display: table-row;
		-webkit-animation: fadeIn 1s;
		animation: fadeIn 1s;
	}

	.ac-text {
		color: #4B8EAE;
	}

	@-webkit-keyframes fadeIn {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}

	@keyframes fadeIn {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}

	.highcharts-a11y-proxy-container {
		display: none;
	}

	.highcharts-legend-item.highcharts-column-series span {
		/* background: #fff;
    left: 0 !important;
    z-index: 5; */
		/*        width: 70px;*/
		/*    border: 1px solid red;*/
		/*		height: 40px;*/
		text-align: center;
		font-size: 10px;
		color: #6b6b6b;
		font-weight: bold;
		font-family: 'Proxima Nova Light';
	}

	.highcharts-legend-item.highcharts-column-series .highcharts-point {
		width: 12px;
		height: 12px;
		display: none;
		rx: 2;
		ry: 2;
		x: 35;
		y: 3;
	}

	.highcharts-legend-item.highcharts-column-series.highcharts-legend-item-hidden span.bb-span,
	.highcharts-legend-item.highcharts-column-series.highcharts-legend-item-hidden span.bb-span-b {
		opacity: 0.1;
		filter: grayscale(100%);
	}

	.highcharts-legend {
		z-index: 0;
		margin-left: 30px
	}

	.highcharts-legend-item.highcharts-column-series.highcharts-series-0 span.bb-span {
		width: 12px !important;
		height: 12px !important;
		background: #ED723D;
		position: absolute;
		left: -17px;
		top: -2px;
		border-radius: 2px
	}

	.highcharts-legend-item.highcharts-column-series.highcharts-series-1 span.bb-span {
		width: 12px !important;
		height: 12px !important;
		background: #5DBEFF;
		position: absolute;
		left: -17px;
		top: -2px;
		border-radius: 2px
	}

	.highcharts-legend-item.highcharts-column-series.highcharts-series-2 span.bb-span {
		width: 12px !important;
		height: 12px !important;
		background: #E88ED7;
		position: absolute;
		left: -17px;
		top: -2px;
		border-radius: 2px
	}

	.highcharts-legend-item.highcharts-column-series.highcharts-series-3 span.bb-span {
		width: 12px !important;
		height: 12px !important;
		background: #F5C100;
		position: absolute;
		left: -17px;
		top: -2px;
		border-radius: 2px
	}

	.highcharts-legend-item.highcharts-column-series.highcharts-series-4 span.bb-span {
		width: 12px !important;
		height: 12px !important;
		background: #9E6244;
		position: absolute;
		left: -17px;
		top: -2px;
		border-radius: 2px
	}

	.highcharts-legend-item.highcharts-column-series.highcharts-series-5 span.bb-span {
		width: 12px !important;
		height: 12px !important;
		background: #FF0000;
		position: absolute;
		left: -17px;
		top: -2px;
		border-radius: 2px
	}

	.highcharts-legend-item.highcharts-column-series.highcharts-series-6 span.bb-span {
		width: 12px !important;
		height: 12px !important;
		background: #FF7994;
		position: absolute;
		left: -17px;
		top: -2px;
		border-radius: 2px
	}

	.highcharts-legend-item.highcharts-column-series.highcharts-series-7 span.bb-span {
		width: 12px !important;
		height: 12px !important;
		background: #5F6DD7;
		position: absolute;
		left: -17px;
		top: -2px;
		border-radius: 2px
	}

	.highcharts-legend-item.highcharts-column-series.highcharts-series-0 span.bb-span-b {
		width: 12px !important;
		height: 12px !important;
		background: #ED723D;
		position: absolute;
		left: -17px;
		top: -2px;
		border-radius: 2px
	}

	.highcharts-legend-item.highcharts-column-series.highcharts-series-1 span.bb-span-b {
		width: 12px !important;
		height: 12px !important;
		background: #5DBEFF;
		position: absolute;
		left: -17px;
		top: -2px;
		border-radius: 2px
	}

	.highcharts-root {
		position: relative;
		display: flex;
	}


	.csschart .highcharts-data-labels,
	.csschart .highcharts-data-labels,
	.csschart .highcharts-data-labels,
	.csschart .highcharts-data-labels,
	.csschart .highcharts-data-labels,
	.csschart .highcharts-data-labels,
	.csschart .highcharts-data-labels,
	.csschart .highcharts-data-labels,
	.csschart .highcharts-data-labels,
	.csschart .highcharts-data-labels,
	.csschart .highcharts-data-labels,
	.csschart .highcharts-data-labels {
		display: block;
		width: 100%;
		height: 100%;
		top: 0 !important;
		left: 0 !important;
	}

	.csschart .highcharts-label,
	.csschart .highcharts-label,
	.csschart .highcharts-label,
	.csschart .highcharts-label,
	.csschart .highcharts-label,
	.csschart .highcharts-label,
	.csschart .csschart .highcharts-label,
	.csschart .highcharts-label,
	.csschart .highcharts-label,
	.csschart .highcharts-label,
	.csschart .highcharts-label,
	.csschart .highcharts-label {
		display: block;
		width: 100%;
		text-align: center;
		height: 100%;
		top: 52% !important;
		left: 50% !important;
		transform: translate(-50%, -50%);
	}

	.csschart .highcharts-label span,
	.csschart .highcharts-label span,
	.csschart .highcharts-label span,
	.csschart .highcharts-label span,
	.csschart .highcharts-label span,
	.csschart .highcharts-label span,
	.csschart .highcharts-label span,
	.csschart .highcharts-label span,
	.csschart .highcharts-label span,
	.csschart .highcharts-label span,
	.csschart .highcharts-label span,
	.csschart .highcharts-label span {
		top: 50% !important;
		left: 50% !important;
		transform: translate(-50%, -50%);
	}

	.csschart .highcharts-label span.ttest,
	.csschart .highcharts-label span.ttest,
	.csschart .highcharts-label span.ttest,
	.csschart .highcharts-label span.ttest,
	.csschart .highcharts-label span.ttest,
	.csschart .highcharts-label span.ttest,
	.csschart .highcharts-label span.ttest,
	.csschart .highcharts-label span.ttest,
	.csschart .highcharts-label span.ttest,
	.csschart .highcharts-label span.ttest,
	.csschart .highcharts-label span.ttest,
	.csschart .highcharts-label span.ttest {

		top: 0;
		left: 0;
		transform: unset;

	}

	.highcharts-legend-item-hidden {
		background: red
	}

	label.checkbox-g.blue {
		border: 2px solid #519ffb;
		border-radius: 3px;
		width: 15px;
		height: 15px;
		background: #519ffb;
	}

	.dropdown-menu>li>a {
		font-family: 'Proxima Nova Light';
	}

	span.label {
		font-family: 'Proxima Nova Bold';
		border-radius: 3px;
		padding: 4px 6px 3px;
		letter-spacing: 1px;
	}

	.f10 {
		font-family: 'Proxima Nova Light';
	}

	.vertical-align {
		display: flex;
		height: 100% !important;
	}

	/*
	.center-center-b0{
		position: absolute;
    	bottom: 3px;
	}
*/
	.btn.active,
	.btn:active {
		box-shadow: unset;
	}

	@media screen and (min-width: 1680px) {
		.center-center-b0 {
			position: unset;
		}
	}

	@media screen and (min-width: 1600px) {
		.mmtop {
			margin-top: -10px !important;
			margin-bottom: 0px !important;
		}
	}