#mask {
	position:absolute;
	left:0;
	top:0;
	z-index:2000;
	background-color:#aaa;
	display:none;
	opacity: 0.8 !important ;
}  
#boxes .window {
	position:absolute;
	left:0;
	top:0;
	width:440px;
	display:none;
	z-index:2001;
	padding:20px;
	text-align: center;
	
}
#boxes #dialog {
	width:40%; 
	padding:30px;
	background-color:#ffffff;
}


.boxes-body{
	text-align: center;
	margin-bottom: 20px;
}
.boxes-body p{ margin: 0;font-family: 'Proxima Nova Bold'; }



#movingBallG{
	position:relative;
	width:80%;
	height:19px;
	margin:auto;
}

.movingBallLineG{
	position:relative;
	left:0px;
	top:8px;
	height:19px;
	width:100%;
	background-color:#deeffd;
	border:1px solid #ddd;
	margin-bottom: 10px;
}

.movingBallG{
	background-color:#0c6ecf;
	position:absolute;
	top:0;
	left:0;
	width:19px;
	height:19px;
	animation-name:bounce_movingBallG;
	-o-animation-name:bounce_movingBallG;
	-ms-animation-name:bounce_movingBallG;
	-webkit-animation-name:bounce_movingBallG;
	-moz-animation-name:bounce_movingBallG;
	animation-duration:1.5s;
	-o-animation-duration:1.5s;
	-ms-animation-duration:1.5s;
	-webkit-animation-duration:1.5s;
	-moz-animation-duration:1.5s;
	animation-iteration-count:infinite;
	-o-animation-iteration-count:infinite;
	-ms-animation-iteration-count:infinite;
	-webkit-animation-iteration-count:infinite;
	-moz-animation-iteration-count:infinite;
	animation-direction:normal;
	-o-animation-direction:normal;
	-ms-animation-direction:normal;
	-webkit-animation-direction:normal;
	-moz-animation-direction:normal;
}





@keyframes bounce_movingBallG{
	0%{
		left:0px;
	}

	50%{
		left:97%;
	}

	100%{
		left:0px;
	}
}

@-o-keyframes bounce_movingBallG{
	0%{
		left:0px;
	}

	50%{
		left:97%;
	}

	100%{
		left:0px;
	}
}

@-ms-keyframes bounce_movingBallG{
	0%{
		left:0px;
	}

	50%{
		left:97%;
	}

	100%{
		left:0px;
	}
}

@-webkit-keyframes bounce_movingBallG{
	0%{
		left:0px;
	}

	50%{
		left:97%;
	}

	100%{
		left:0px;
	}
}

@-moz-keyframes bounce_movingBallG{
	0%{
		left:0px;
	}

	50%{
		left:97%;
	}

	100%{
		left:0px;
	}
}

@media (max-width: 767px) {/*phone*/
	#boxes #dialog {
		width: 90%;
		padding: 10px;
	}
}